Chamod/flows .json
[{"id":"16248aaf.d5d465","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a8f320cd.d8439","type":"inject","z":"16248aaf.d5d465","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"10","x":210,"y":160,"wires":[["d7918c4b.3b84c"]]},{"id":"529f22f6.c616ac","type":"csv","z":"16248aaf.d5d465","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"x":430,"y":160,"wires":[["590be25c.e1064c"]]},{"id":"a0875cb6.35bff","type":"debug","z":"16248aaf.d5d465","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":80,"wires":[]},{"id":"d7918c4b.3b84c","type":"file in","z":"16248aaf.d5d465","name":"","filename":"A:\\INTELLISR\\MICRO_JOBS\\SEMS Resourses\\Chamod\\household_power_consumption.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":220,"wires":[["529f22f6.c616ac"]]},{"id":"590be25c.e1064c","type":"delay","z":"16248aaf.d5d465","name":"","pauseType":"rate","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":160,"wires":[["c575760d.b0edf8"]]},{"id":"9ac5c429.2514f8","type":"http request","z":"16248aaf.d5d465","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:5000/","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":80,"wires":[["a0875cb6.35bff"]]},{"id":"c575760d.b0edf8","type":"json","z":"16248aaf.d5d465","name":"","property":"payload","action":"","pretty":false,"x":490,"y":80,"wires":[["9ac5c429.2514f8"]]},{"id":"513bc948.326848","type":"firebase in","z":"16248aaf.d5d465","name":"firebase watch","ref":"/Switch/Sems/sub1","dataAtStart":true,"admin":"371b2675.df796a","x":190,"y":340,"wires":[["8b3a0a9c.b03298","8fd7074e.e5f2d8"]]},{"id":"15f1c55.d83013b","type":"firebase in","z":"16248aaf.d5d465","name":"firebase watch","ref":"/Switch/Sems/sub2","dataAtStart":true,"admin":"371b2675.df796a","x":190,"y":460,"wires":[["c5463292.ce0b6","87d00b8.052bff8"]]},{"id":"9ba0e70b.e7b568","type":"firebase in","z":"16248aaf.d5d465","name":"firebase watch","ref":"/Switch/Sems/sub3","dataAtStart":true,"admin":"371b2675.df796a","x":190,"y":560,"wires":[["f9892669.6b5c78","f4b3da0a.9a5448"]]},{"id":"8b3a0a9c.b03298","type":"switch","z":"16248aaf.d5d465","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":320,"wires":[["2b19696.076bb96"]]},{"id":"8fd7074e.e5f2d8","type":"switch","z":"16248aaf.d5d465","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":360,"wires":[["835887a9.b51078"]]},{"id":"c5463292.ce0b6","type":"switch","z":"16248aaf.d5d465","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":440,"wires":[["6c1ae68c.465a38"]]},{"id":"87d00b8.052bff8","type":"switch","z":"16248aaf.d5d465","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":480,"wires":[["bde1ec1f.6badb"]]},{"id":"f9892669.6b5c78","type":"switch","z":"16248aaf.d5d465","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":540,"wires":[["5af17316.b9312c"]]},{"id":"f4b3da0a.9a5448","type":"switch","z":"16248aaf.d5d465","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":580,"wires":[["20ba7190.347fbe"]]},{"id":"2b19696.076bb96","type":"debug","z":"16248aaf.d5d465","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":320,"wires":[]},{"id":"835887a9.b51078","type":"debug","z":"16248aaf.d5d465","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":360,"wires":[]},{"id":"6c1ae68c.465a38","type":"debug","z":"16248aaf.d5d465","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":440,"wires":[]},{"id":"bde1ec1f.6badb","type":"debug","z":"16248aaf.d5d465","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":480,"wires":[]},{"id":"5af17316.b9312c","type":"debug","z":"16248aaf.d5d465","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":540,"wires":[]},{"id":"20ba7190.347fbe","type":"debug","z":"16248aaf.d5d465","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":580,"wires":[]},{"id":"371b2675.df796a","type":"firebase admin","z":"","name":"sems-app"}]